*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.*.aux
.Makefile.d
.coq-native/
.csdp.cache
.direnv
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
/.coqdeps.d
/Makefile.conf
/Makefile.coq
/Makefile.coq.conf
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
/.Makefile.coq.d
